<% include('../layouts/header.ejs') %>
  <style>
    * {
      margin: none;
      padding: auto;
      box-sizing: border-box;
      font-family: 'Crimson Text', serif;
    }

    h1 {
      font-weight: bolder;
      /* text-align: center; */
      text-decoration: underline;
      text-shadow: 2px rgb(3, 66, 35);
      font-size: 60px;
      position: relative;
      left: 0;
      padding-left: 100px;
      animation: sideway 10s infinite linear;
    }

    @keyframes sideway {
      from {
        left: 0;
      }

      to {
        left: 450px;
      }
    }

    .form-container {
      border: 1px solid black;
      float: right;
      width: 48%;
      /* height: 100%; */
      right: 10px;
      margin-right: 28px;
      padding-left: 50px;
      padding-top: 10px;
      background-color: beige;
    }

    .input-box {
      flex: 1 1 7rem;
      display: flex;
      flex-direction: column;
      width: 538px;
    }

    .input-box input {
      padding: 7px;
      outline: none;
      border: none;
      background: #eeeff1;
      border-radius: 0.5rem;
      font-style: oblique;
      font-size: 1rem;
      border: 1px solid black;
    }

    .input-box span {
      font-family: 'Fjalla One', sans-serif;
      padding: 5px;
    }

    .form-container form .btn {
      flex: 1 1 7rem;
      padding: 10px 35px;
      margin-top: 10px;
      border: 3px solid #11c5c5;
      border-radius: 0.5rem;
      background: #194f92;
      color: #fff;
      font-size: 1rem;
      font-weight: 500;
    }

    .image-container {
      float: left;
      width: 50%;
      position: absolute;
      padding-left: 34px;
      z-index: 1 !important;
    }
  </style>
  <h1>User Registration Form</h1>
  <div class="image-container">
    <img src="assets/images/cover-image.jpg" alt="Loading...." height="630px" width="620px">
  </div>
  <div class="form-container">
    <% if(typeof message !=='undefined' ){ %>
      <p style="color: green;">
        <%= message %>
      </p>
      <% } %>
    <form action="" method="post" enctype="multipart/form-data">
      <div class="input-box">
        <span>NAME:</span>
        <input type="text" name="name" placeholder="Enter Name" required>
        <br><br>
      </div>
      <div class="input-box">
        <span>EMAIL:</span>
        <input type="email" name="email" placeholder="Enter Email" required>
        <br><br>
      </div>
      <div class="input-box">
        <span>CONTACT NO.</span>
        <input type="text" name="mno" placeholder="Enter Mobile" required>
        <br><br>
      </div>
      <div class="input-box">
        <span>PROFILE PICTURE:</span>
        <input type="file" name="image" required>
        <br><br>
      </div>
      <div class="input-box">
        <span>PASSWORD:</span>
        <input type="password" name="password" placeholder="Enter Password" required>
        <br><br>
      </div>
      <input class="btn" type="submit" value="Register">
    </form>
  </div>
      <% include('../layouts/footer.ejs') %>